# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

out/*
x64/

packages/

OpenXR/Debug/

.vs/

/Cemu/*
CemuTest/
!/Cemu/.gitkeep

/MetaXRSimulator/*
!/MetaXRSimulator/.gitkeep
!/MetaXRSimulator/config/sim_core_configuration.json
!/MetaXRSimulator/config/sim_core_configuration_ci.json

ReverseEngineering/

CMakeSettings.json
cmake-build-*/
build/

src/rendering/vc140.pdb
enc_temp_folder/

BetterVR.zip
BetterVR_log.txt

# Nix build result symlinks and editor backups
/result
/result-*
*~

compile_commands.json
